<div id="leftpadamdiv"> <img src="../images/left.png" id="leftpadam" ng-click="slider(-1)" ></div>

<div id="rightpadamdiv"><img src="../images/right.png" id="rightpadam" ng-click="slider(1)" ></div>
<div id="mainstuff">

    <div id="imgdiv">

        <img id="imagesgoeshere" ng-src="{{showimage}}">
    </div>

    <div id="alldetails" >
        <div cdirective3></div>
        <span id="bigprice">{{gcpro}}</span>
        <span id="stockavai">{{gcpro}}</span><br>

        <p id="descriptioncss">{{gcpro}}</p>
        <p id="customerrev">{{gcpro}}</p>

    </div>

</div>


