<div id="leftpadamdiv"> <img src="../images/left.png" id="leftpadam" ng-click="slider(-1)" ></div>

<div id="rightpadamdiv"><img src="../images/right.png" id="rightpadam" ng-click="slider(1)" ></div>
<div id="mainstuff">

    <div id="imgdiv">

        <img id="imagesgoeshere" ng-src="{{showimage}}">
    </div>

    <div id="alldetails" >

        <span id="bigprice">{{showprice}}</span>
        <span id="stockavai">{{showavail}}</span><br>

        <p id="descriptioncss">{{showdescribe}} </p>
        <p id="customerrev">{{showreview}}</p>

    </div>

</div>