<div id="leftpadamdiv"> <img src="../images/left.png" id="leftpadam" ng-click="slider(-1)" ></div>

<div id="rightpadamdiv"><img src="../images/right.png" id="rightpadam" ng-click="slider(1)" ></div>
<div id="mainstuff">

    <div id="imgdiv">

        <img id="imagesgoeshere" ng-src="{{showimage}}">
    </div>

    <div id="alldetails" >
        <div cdirective6></div>
        <span id="bigprice">{{platinum}}</span>
        <span id="stockavai">{{platinum}}</span><br>

        <p id="descriptioncss">{{platinum}}</p>
        <p id="customerrev">{{platinum}}</p>

    </div>

</div>


